@font-face
{
	font-family: regular;
	src: url('../fonts/Roboto-Regular.ttf'),
}

@font-face
{
	font-family: medium;
	src: url('../fonts/Roboto-Medium.ttf'),
}

@font-face
{
	font-family: light;
	src: url('../fonts/Roboto-Light.ttf'),
}

@font-face
{
	font-family: bold;
	src: url('../fonts/Roboto-Bold.ttf'),
}

.containerNEA {
	color: #333366;
	font-family: regular;
	overflow: hidden;
}