#content {
	height: 85%;
}

#date {
	background-color: #333366;
	color: white;
	float: left;
	height: 100%;
	text-align: center;
	width: 5%;
}

#date h3 {
	font-weight: bold;
}

#date p {
	margin-top: -13px;
}

#description {
	float: left;
	height: 100%;
	width: 60%;
}

#description h3 {
	color: #333366;
	font-size: 18px;
	font-weight: bold;
	margin-left: 13px;
	margin-top: 10px;
}

#description p {
	color: #333366;
	font-size: 15px;
	margin-left: 13px;
	margin-top: -10px;
}

#links {
	float: left;
	font-weight: bold;
	font-size: 14px;
	height: 100%;
	margin-top: 2px;
	width: 10%;
}

#links .btn {
	border-bottom: solid 1px #B8B8B8;
	color: white;
	height: 50%;
	text-decoration: none;
}

#links .btn:hover{
	border-bottom: solid 1px #B8B8B8;
	color: black;
	height: 50%;
}

#panel-news-events {
	background-image:url('../img/pie-carrusel-01.png');
	/*background-color: #A9A9A9;*/
	height: 80px;
  	max-height: 80px;
  	min-height: 80px;
}

#profile-social-icons {
	background-color: white;
	float: left;
	height: 100%;
	width: 25%;
	padding: 10px;
}

#profiles {
	height: 50%;
	width: 100%;
}

#social-icons {
	height: 50%;
	width: 100%;
}

#space-under-panel {
	height: 120px;
}

.carousel-control {
	width: 120px;
}

.carousel-indicators {
    left: 41%;
    bottom: 2%;
}

.carousel-indicators li{
    border: solid 1px #A9A9A9;
	float: left;
}

.carousel-indicators li.active {
    background-color: #A9A9A9;
}

.custom-carousel img {
  height: 325px;
  margin: 0 auto;
  max-height: 325px;
  min-height: 325px;
  width: 80%;
}

.facebook-icon {
	background: url("../img/iconos-redes-sociales-01.png") 1px -67px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.facebook-icon:hover {
	background: url("../img/iconos-redes-sociales-01.png") 201px -67px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.twitter-icon {
	background: url("../img/iconos-redes-sociales-01.png") -67px -67px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.twitter-icon:hover {
	background: url("../img/iconos-redes-sociales-01.png") 134px -68px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.gplus-icon {
	background: url("../img/iconos-redes-sociales-01.png") -134px -67px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.gplus-icon:hover {
	background: url("../img/iconos-redes-sociales-01.png") 66px -67px;
	display: block;
	float: left;
	height: 66px;
	margin: 10px;
	width: 67px;
}

.btn-perfil{
	background: #999;
	border-radius: 0;
	color: #fff;
}

.p-desarrollador{
	background: #33cc99;
}

.p-estudiante{
	background: #996699;
}

.p-empresa{
	background: #f54553;
}

.p-empresa, .p-estudiante, .p-desarrollador{
	font-weight: bold !important;
	color: #fff !important;
}

.p-empresa a, .p-estudiante a, .p-desarrollador a{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.dd-perfil{
	top: -42%;
	left: 104%;
	margin: 13px 0 0 0;
	padding: 0;
}

.dd-perfil li a{
	color: #fff;
	padding: 7px 20px;
}

#search {
	bottom: 5px;
}

#drop-profile {
	color: white !important;
	background-color: #999999;
	width: 190px;
}

.dd-perfil {
	width: 190px;
}