#contact-form{
	display: table;
	vertical-align: middle;
	margin-top: 50px;
	margin-left: 400px;
	width: 200px;
}

#submit-contact{
	margin: 10px;
	border: 1px solid #333366;
}

#line-contact{
	border-top: 1px solid #333366;
}

#contact-social-icons {
	background-color: white;
	float: right!important;
	height: 100%;
	padding: 10px;
}

.centrar-input{
	display: block;
	margin: 10px;
	width: 200px;
	border: 1px solid #333366;
}

#submit-contact:hover{
	border: 1px solid #FFFFFF;
	background-color: #333366;
	color:#FFFFFF;
}

