.mg-language{
	margin: 44px 0 0 0;
}

.btn-lang{
	border-color: #333366;
	border-radius: 0;
	color: #333366;
	padding: 6px;
}


.menu-ppal > li{
	float: left;
	padding: 0;
	margin: 0 16px 0 0;
	border-bottom: 1px solid;
}

.menu-ppal > li > a{
	padding: 0;
	text-decoration: none;
}

.menu-ppal > li > a:hover{
	background: transparent;
}

.menu-ppal > li:hover{
	background: #fff;
	font-weight: bold;
	border-bottom: 2px solid;
}

.none-radiusborder{
	border-radius: 0;
}

.back-icon-search{
	background: #333366;
}

.border-search{
	border: 1px solid #333366;
}